@model VC.Common.Entities.District

@{
    ViewData["Title"] = "Adicionar Distrito";
}

<h2>Adicionar</h2>

<h4>Distrito</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDistrict">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProvince" />

            <partial name="_District" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="DetailsProvince" asp-route-id="@Model.IdProvince" class="btn btn-success">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}